/*
Color reference - "Death Dragon"
#fc55a0 - brilliant rose
#feffff - white
#1b71cd - bright navy blue
#8ac2cb - middle blue
#000000 - black
*/

* {
    margin: auto;
    padding: auto;
    font-size: 1em;
}

body {
    background-color: #8ac2cb;
    color: black;
    width: 80%;
    font-family: monospace;
    text-align: center;
    margin: auto;
}

nav {
    width: auto;
    background-color: #feffff;
    border: 5px double #fc55a0;
    position: sticky;
    top: 0;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    z-index: 1;
    font-size: 1.5em;
}

nav>a {
    text-decoration: none;
    color: #fc55a0;
}

nav>a:visited {
    color: #8ac2cb;
}

nav>a:hover {
    color: #1b71cd;
}

img {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-bottom: 1%;
}

.carousel-item {
    margin: auto;
}

table {
    border: 5px solid #1b71cd;
    background-color: #e8edf1;
    text-align: center;
    width: 80%;
    height: auto;
}

td {
    border: 2px double #1b71cd;
}

td>a {
    text-decoration: none;
    color: #1b71cd;
}

th {
    text-align: center;
    background-color: #feffff;
}

td>iframe {
    min-width: min-content;
    min-height: min-content;
}

.second {
    text-align: center;
}

#DFF>a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    text-decoration: none;
    color: black;
}

td>img {
    width: 90%;
}

.pain {
    width: 100%;
}

.essay {
    border: 5px solid #1b71cd;
    background-color: #e8edf1;
    text-align: center;
    width: 80%;
}

@media only screen and (max-width: 1126px) {
    @media only screen and (max-width: 766px) {
        body {
            font-size: small;
            width: 100%;
        }
        nav {
            font-size: medium;
        }
        table {
            width: 100%;
            margin: auto;
        }
        td {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
        }
        table.projects {
            width: 100%;
            margin-left: initial;
        }
        .DFF>a {
            font-size: small;
        }
        td>p {
            height: min-content;
        }
        td>iframe {
            min-height: 400px;
        }
        td>img {
            width: 60%
        }
    }
}