@import "styles.css";

/*
Color reference - "Death Dragon"
#fc55a0 - brilliant rose
#feffff - white
#1b71cd - bright navy blue
#8ac2cb - middle blue
#000000 - black
*/

* {
    margin: auto;
    padding: auto;
}

body {
    background-color: #8ac2cb;
    color: black;
    width: 80%;
}

nav {
    background-color: #feffff;
    border: 5px double #fc55a0;
    position: sticky;
    top: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img {
    margin-left: 50%;
}