@import "_base.scss";

/*
Color reference - "Death Dragon"
$color1 - brilliant rose
$color2 - white
$color3 - bright navy blue
$color4 - middle blue
$color5 - black
*/

* {
    margin: $auto;
    padding: $auto;
    font-size: 1em;
}

body {
    background-color: $color4;
    color: $color5;
    width: $per80;
    font-family: monospace;
    text-align: $center;
    margin: $auto;
}

nav {
    width: $auto;
    background-color: $color2;
    border: 5px double $color1;
    position: sticky;
    top: 0;
    text-align: $center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    z-index: 1;
    font-size: 1.5em;
}

nav>a {
    text-decoration: $none;
    color: $color1;
}

nav>a:visited {
    color: $color4;
}

nav>a:hover {
    color: $color3;
}

img {
    width: 90%;
    display: $flex;
    flex-direction: row;
    align-content: $center;
    margin-bottom: 1%;
}

.carousel-item {
    margin: $auto;
}

table {
    border: 5px solid $color3;
    background-color: $table;
    text-align: $center;
    width: 95%;
    height: $auto;
}

td {
    border: 2px double $color3;
    width: $auto;
}

td>a {
    text-decoration: $none;
    color: $color3;
}

th {
    text-align: $center;
    background-color: $color2;
}

td>iframe {
    min-width: min-content;
    min-height: min-content;
}

.second {
    text-align: $center;
}

#DFF>p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    text-decoration: $none;
    color: $color5;
}

td>img {
    width: 90%;
}

#DFF>img {
    width: 50%;
}

.pain {
    width: $full;
}

.essay {
    border: 5px solid $color3;
    background-color: $table;
    text-align: $center;
    width: $per80;
}

footer {
    color: $table;
    margin-bottom: 1%;
    margin-top: 1%;
}

footer>a {
    text-decoration: $none;
    color: $table;
}

@media only screen and (max-width: 1126px) {
    td {
        display: $flex;
        flex-direction: column;
        justify-content: $center;
        align-content: $center;
    }
    @media only screen and (max-width: 766px) {
        body {
            font-size: small;
            width: $full;
        }
        nav {
            font-size: medium;
        }
        table {
            width: $full;
            margin: $auto;
        }
        table.projects {
            width: $full;
            margin-left: initial;
        }
        .DFF>a {
            font-size: small;
        }
        td>p {
            height: min-content;
        }
        td>iframe {
            min-height: 400px;
        }
        td>img {
            width: 60%
        }
    }
}