* {
    margin: auto;
    padding: auto;
}

body {
    background-color: #8ac2cb;
    color: black;
    width: 80%;
}

nav {
    background-color: #feffff;
    border: 5px double #fc55a0;
    position: sticky;
    top: 0;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav>a {
    text-decoration: none;
    color: #fc55a0;
}

nav>a:visited {
    color: #8ac2cb;
}

img {
    display: flex;
    align-self: center;
    width: 90%;
}

.carousel-item {
    width: auto;
}